version: 2.1
orbs:
  pulumi: pulumi/pulumi@2.0.0
  orb-tools: circleci/orb-tools@10.0.4
 
jobs:
  build:
    docker:
      - image: 'circleci/node:14.16'
    working_directory: ~/repo/
    steps:
      - checkout
#       - orb-tools/post-pr-comment:
#           bot-token-variable: GITHUB_TOKEN
#           bot-user: someshkoli
#           comment: Helloooooawdwadaaaa
      - run:
            command: >
              PR_NUMBER=$(git log -1 --pretty=%s. | sed -n "$SED_EXP")

              echo "PR_NUMBER is ${PR_NUMBER}"

              if [ "$PR_NUMBER" == "" ];then
                  echo "No pr found; do nothing. If this is a mistake, check if your PR commit message matches the $SED_EXP sed expression."
                  exit 0
              fi
              echo "${BOT_USER}"
              curl -X POST -u "${BOT_USER}:${BOT_TOKEN}"
              "https://api.github.com/repos/${CIRCLE_PROJECT_USERNAME}/${CIRCLE_PROJECT_REPONAME}/issues/${PR_NUMBER}/comments"
              -d "{\"body\":\"${COMMENT}\"}"
            environment:
              BOT_TOKEN: $GITHUB_TOKEN
              BOT_USER: someshkoli
              COMMENT: awdawdawdawdadwadwadwdawda
              SED_EXP: "s/Merge pull request #\\([0-9]*\\) from.*/\\1/p"
      # - setup_remote_docker:
      #     version: 19.03.13
      # - pulumi/login
      # - pulumi/stack_init:
      #     stack: 'proxor-theia/test-pr_${CIRCLE_BUILD_NUM}'
      # - run:
      #       command: |
      #         npm install
      #         pulumi config set aws:region ap-south-1
      # - pulumi/update:
      #     stack: 'proxor-theia/test-pr_${CIRCLE_BUILD_NUM}'
      # - pulumi/stack_output:
      #     stack: 'proxor-theia/test-pr_${CIRCLE_BUILD_NUM}'
      #     property_name: demoUrl
      #     env_var: TEST_URL
      # - run:
      #     name: Output pulumi to artifacts
      #     command: |
      #       echo ${TEST_URL};
      #       pulumi stack output >> /tmp/pulumi_output;
      # - store_artifacts:
      #     path: /tmp/pulumi_output
      #     destination: pulumi_output
      # - pulumi/destroy:
      #     stack: 'proxor-theia/test-pr_${CIRCLE_BUILD_NUM}'
      # - pulumi/stack_rm:
      #     stack: 'proxor-theia/test-pr_${CIRCLE_BUILD_NUM}'
